body {
    font-family:'Roboto', sans-serif;
    background-color: #FFFCF9;   
    margin: 0px;
}

nav {
    display: block;
    width: 100%;
    background-color: #FFFCF9; 
    height:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color:#518683;
    font-weight: 600;
    font-size: 22px;
}

li a:visited {
    color:#518683;
    text-decoration: underline;
    font-size: 20px;
}


h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: #303030;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #303030;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#303030;
}

.container-fluid {
    width:80%;
}

.featWork {
    margin: 40px 20px 50px 20px;
}

.row {
    justify-content: center;
}

.col-sm-4 img {
    margin-right: auto;
    margin-left:auto;
    display:block;
    width:375px;
}

.column-sm-4 {
    text-align: center;
    justify-content: right;
}

.column-sm-8 {
    text-align: center;
    padding-left:20px;
}

.skills {
    margin-top:40px;
}

.artLink {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: none;
    color:#303030;
    font-size: 18px;
}

.artLink:hover {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: underline;
    color:#518683;
    font-weight: 700;
}

.artLink:visited {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: underline;
    color:#518683;
    font-weight: 700;
}

.obsessions {
    list-style-type: square;
    text-align: left;
    margin:0;
    padding:10px;
}

.viewNext {
    margin: 60px 24px 10px 24px;
    text-align:center;
    left: 50%;
}

footer {
    margin: 40px 24px 10px 24px;
    text-align:center;
    left: 50%;
}

.copyright {
    font-size: xx-small;
    font-family: 'Roboto', sans-serif;
}

.socials{
    list-style-type: none;
    padding: 5px;
}

.socials img {
    height: 30px;
}

.socials img:hover {
    height: 40px;
}

/*
* { border: 1px solid red; }
*/

@media only screen and (max-width: 1450px) {
    .column-sm-8 {
        text-align: center;
        margin-left:30px;
    }

    .col-sm-4 img {
        margin-right: auto;
        margin-left:auto;
        display:block;
        width: 325px;
    }
  }

  @media only screen and (max-width: 1500px) {    
    .container-fluid {
        width:100%;
    }

    .column-sm-8 {
        text-align: center;
        margin-left:30px;
    }

    .col-sm-4 img {
        margin-right: auto;
        margin-left:auto;
        display:block;
        width: 300px;
    }
  }

  @media only screen and (max-width: 975px) {
    .column-sm-8 {
        text-align: center;
        margin-left:30px;
    }

    .col-sm-4 img {
        padding:top:20px;
        margin-right: auto;
        margin-left:auto;
        display:block;
        width: 235px;
        margin-top:20px;
    }
  }

  @media only screen and (max-width: 766px) {
    .column-sm-8 {
        text-align: center;
        margin-left:30px;
    }

    .col-sm-4 img {
        padding-top:20px;
        margin-right: auto;
        margin-left:auto;
        display:block;
        width: 325px;
        margin-top:0;
    }

 @media only screen and (max-width: 445px) {
    nav {
        display:flex;
    }
       
    li {
        margin-left:-25px;
        padding-right:20px;
        float:right;
     }

     .featWork {
        margin: 40px 0px 50px 0px;
    }
   
}