body {
    font-family:'Roboto', sans-serif;
    background-color: #F9EDE1;    
    margin: 0px;
}

nav {
    display: block;
    width: 100%;
    background-color: transparent;
    height:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
    font-weight:500;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color:#518683;
    transition:0.3s;
    text-decoration: none;
    font-size: 19px;
}

li a:visited {
    color:#355654;
    font-size: 20px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 62px;
    color: #303030;
    text-shadow: 1px 1px #303030;
    margin: 10px 20px 10px 20px;
    line-height: 70px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #303030;
    margin: 10px 20px 10px 20px;
    line-height: 45px;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color:#303030;
    margin-left:20px;
    letter-spacing: 1px;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
    letter-spacing: 0.5px;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#303030;
    font-weight: 400;
}

.section1{
    background-color: #FFFCF9;
    background-image: url("../Images/logobackground.png");
    background-position: center;
    background-size: 125%;
    background-repeat: no-repeat;
}

.container-intro {
    padding-top:20px;
    height: 900px;
    width:100%;
}

.intro {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    top:25%;
}

.fa-chevron-down {
    color: #518683;
    font-size: 32px;
    transition: 0.3s;
    margin-left:50%;
    padding-top: 300px;
}

.fa-chevron-down:hover {
    color: #355654;
    font-size: 30px;
}

.feature {
    display:flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}

.seamlessIcon {
    display:flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
}

.womanIcon {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
}

.viewCase {
    padding-top:20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: none;
    color:#303030;
    font-size:14px;
    font-weight: 500;
}

.viewCase:hover {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: none;
    color:#518683;
    font-size:13.5px;
}

.viewCase:visited {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color:#355654;
    font-size:14px;
    text-decoration: none;
}

.scrollUp {
    margin-top:60px;
}

.fa-chevron-up {
    color: #518683;
    font-size: 32px;
    transition: 0.3s;
    margin-left:49%;
}

.fa-chevron-up:hover {
    color: #355654;
    font-size: 30px;
}

footer {
    margin: 20px 24px 10px 24px;
    text-align:center;
    left: 50%;
}

.fa-instagram-square, .fa-linkedin, .fa-envelope-square, .fa-phone-square-alt{
    color: #518683;
    font-size: 32px;
    transition: 0.3s;
    margin-right:10px;
}

.fa-instagram-square:hover, .fa-linkedin:hover,  .fa-envelope-square:hover, .fa-phone-square-alt:hover {
    color: #355654;
    font-size: 30px; 
}


.copyright {
    font-size: xx-small;
    font-family: 'Roboto', sans-serif;
}

.socials{
    list-style-type: none;
    padding: 5px;
}

.socials img {
    height: 30px;
}

.socials img:hover {
    height: 40px;
}

@media only screen and (max-width: 1060px) {
    .feature {
        display:block;
        text-align:center;
    }
    
    .seamlessIcon {
        display:flex;
        flex-direction: column;
        margin: 0 20px 0 20px;
    }
    
    .womanIcon {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 20px;
    }

    .viewCase {
        padding-top:10px;
        padding-bottom:20px;
    }

}

@media only screen and (max-width: 550px) {
    .seamlessIcon img {
        width:300px;
    }
    .womanIcon img {
        width:300px;
}
    
@media only screen and (max-width: 445px) {
     nav {
        display:flex;
    }
    
    li {
        margin-left:-25px;
        padding-right:20px;
        float:right;
     }
}