body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../Images/Emily\ Logo\ Orange.png");
    background-color: #FFFCF9;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

nav {
    align-items:center;
    margin-left:10px;
    margin-right:10px;
}

ul {
    list-style-type:none;
    margin:0;
    display:flex;
    float:right;
}

li {
    list-style-type:none;
    padding:20px;
    font-size:20px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color: #7F6A8F;
    font-weight:600;
    font-size:22px;
}

li a:visited {
    color: #7F6A8F;
    text-decoration: underline;
    font-size:20px;
  }

.intro {
    max-width:800px;
    padding-left:10px;
    padding-right:10px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size:62px;
    color: #303030;
    text-shadow: 1px 1px #303030;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size:35px;
    font-weight: 400;
    color: #303030;
}

footer {
    align-items:center;
    margin-left:20px;
    margin-right:20px;
}

.copyright {
    font-size: x-small;
    float:left;
}

.sociallist {
    float:right;
}

.socials{
    list-style-type:none;
    padding: 5px;
}

.socials img {
    height:25px;
}