body {
    font-family:'Roboto', sans-serif;
    background-color: #FFFCF9;  
    margin: 0px;
}

nav {
    display: block;
    width: 100%;
    background-color: #FFFCF9;
    height:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color: #7F6A8F;
    font-weight: 600;
    font-size: 22px;
}

li a:visited {
    color: #7F6A8F;
    text-decoration: underline;
    font-size: 20px;
  }
  
h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: #303030;
    text-shadow: 1px 1px #303030;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #303030;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#303030;
    font-weight:600;
}

.section {
    margin-top: 20px;
}

.insight {
    display:block;
    padding:-40px;
}

.insightList {
    list-style-type: square;
    text-align: left;
    margin:0;
    padding:0;
}


footer {
    margin: 60px 24px 10px 24px;
    text-align:center;
    left: 50%;
}

.copyright {
    font-size: xx-small;
    font-family: 'Roboto', sans-serif;
}

.socials{
    list-style-type: none;
    padding: 5px;
}

.socials img {
    height: 30px;
}

.socials img:hover {
    height: 40px;
}

@media only screen and (max-width: 1060px) {

}

@media only screen and (max-width: 550px) {

}