body {
    font-family:'Roboto', sans-serif;
    background-color: #F9EDE1;    
    margin: 0px;
}

nav {
    display: block;
    width: 100%;
    background-color: #FFFCF9;
    height:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color: #7F6A8F;
    font-weight: 600;
    font-size: 22px;
}

li a:visited {
    color: #7F6A8F;
    text-decoration: underline;
    font-size: 20px;
  }


.container-intro {
    padding-top:20px;
    background-image: url("../Images/logobackground.png");
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    background-color: #FFFCF9;
    height: 600px;
    width:100%;
}

.intro {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    top:25%;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 62px;
    color: #303030;
    text-shadow: 1px 1px #303030;
    margin: 10px 20px 10px 20px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #303030;
    text-align: left;
    margin: 10px 20px 10px 20px;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color:#303030;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#303030;
}



.featWork {
    margin-top:60px;
    margin-bottom:60px;
    justify-content: center;
}

.col-sm-4 img {
    margin-right: auto;
    margin-left:auto;
    display:block;
    width:400px;
}

.row {
    margin: 20px;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    color:#303030;
}

a:hover {
    text-decoration: underline;
    color: #7F6A8F;
    font-weight: 600;
}



p {
    margin:0;
}

.col-sm-4 img {
    margin-right: auto;
    margin-left:auto;
    display:block;
}

.column-sm-8 {
    text-align: center;
}

footer {
    margin: 40px 24px 10px 24px;
    text-align:center;
    left: 50%;
}

.copyright {
    font-size: xx-small;
    font-family: 'Roboto', sans-serif;
}

.socials{
    list-style-type: none;
    padding: 5px;
}

.socials img {
    height: 30px;
}

.socials img:hover {
    height: 40px;
}