body {
    font-family:'Roboto', sans-serif;
    background-color: #FFFCF9;   
    margin: 0px;
}

nav {
    display: block;
    width: 100%;
    background-color: #FFFCF9; 
    height:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color: #7F6A8F;
    font-weight: 600;
    font-size: 22px;
}

li a:visited {
    color: #7F6A8F;
    text-decoration: underline;
    font-size: 20px;
  }

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: #303030;
    text-shadow: 1px 1px #303030;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #303030;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#303030;
}

.featWork {
    margin: 40px 20px 50px 20px;
}

.row {
    justify-content: center;
}

.col-sm-4 img {
    margin-right: auto;
    margin-left:auto;
    display:block;
    width:435px;
}

.column-sm-8 {
    text-align: center;
    padding-left:20px;
}

.skills {
    margin-top:40px;
}

.column-sm-2 {
    align-content: center;
}

footer {
    margin: 40px 24px 10px 24px;
    text-align:center;
    left: 50%;
}

.copyright {
    font-size: xx-small;
    font-family: 'Roboto', sans-serif;
}

.socials{
    list-style-type: none;
    padding: 5px;
}

.socials img {
    height: 30px;
}

.socials img:hover {
    height: 40px;
}

/*
* { border: 1px solid red; }
*/

@media only screen and (max-width: 1330px) {
    .column-sm-8 {
        text-align: center;
        margin-left:30px;
    }

    .col-sm-4 img {
        margin-right: auto;
        margin-left:auto;
        display:block;
        width: 350px;
    }
  }

  @media only screen and (max-width: 1100px) {
    .column-sm-8 {
        text-align: center;
        margin-left:30px;
    }

    .col-sm-4 img {
        margin-right: auto;
        margin-left:auto;
        display:block;
        width: 245px;
        margin-top:20%;
    }
  }

  @media only screen and (max-width: 767px) {
    .column-sm-8 {
        text-align: center;
        margin-left:30px;
    }

    .col-sm-4 img {
        margin-right: auto;
        margin-left:auto;
        display:block;
        width: 400px;
        margin-top:0;
    }
  }
