body {
    font-family:'Roboto', sans-serif;
    background-color: #FFFCF9;  
    margin: 0px;
}

nav {
    display: block;
    width: 100%;
    background-color: #FFFCF9;
    height:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color:#518683;
    font-weight: 600;
    font-size: 22px;
}

li a:visited {
    color:#518683;
    text-decoration: underline;
    font-size: 20px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: #303030;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #303030;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#303030;
    font-weight:600;
}

.container-fluid {
    width:80%;
}

.deliverables {
    list-style-type: square;
    text-align: left;
    margin:0;
    padding:0;
}

.col-sm-4 {
    margin:0;
    padding:0;
}

.centerImg {
    margin-right: auto;
    margin-left:auto;
    display:block;
    width: 90%;
    padding:20px;
}

.centerImg3 {
    width:33%;
    display: inline-block;
}

.centerImg3 img {
    justify-content: center;
}

.section {
    margin-top: 20px;
}

.noPadding{
    margin:0;
    padding:0;
}

.insightList {
    list-style-type: square;
    text-align: left;
    margin:0;
    padding:0;
}

footer {
    margin: 60px 24px 10px 24px;
    text-align:center;
    left: 50%;
}

.copyright {
    font-size: xx-small;
    font-family: 'Roboto', sans-serif;
}

.socials{
    list-style-type: none;
    padding: 5px;
}

.socials img {
    height: 30px;
}

.socials img:hover {
    height: 40px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: scroll;
    background-color: rgb(0,0,0);
}
  
.modal-content {
    margin: auto;
    display: block;
    max-width:90%;
    max-height:90%;
}
  
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #FFFCF9;
    font-size: 32px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #FFFCF9;
    text-decoration: none;
    cursor: pointer;
} 


@media only screen and (max-width: 1260px) {    
    .container-fluid {
        width:100%;
    }
}

@media only screen and (max-width: 1010px) {   
    .centerImg3 {
        width:30%;
        margin-left:10px;
    }
}

@media only screen and (max-width: 445px) {
    nav {
        display:flex;
    }

    li {
        margin-left:-25px;
        padding-right:20px;
        float:right;
    }

    .centerImg3 {
        width:30%;
        margin-left:5px;
    }
}