body {
    font-family:'Roboto', sans-serif;
    background-color: #F9EDE1;    
    margin: 0px;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    height:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color: #7F6A8F;
    font-weight: 600;
    font-size: 22px;
}

li a:visited {
    color: #7F6A8F;
    text-decoration: underline;
    font-size: 20px;
  }


h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    color: #303030;
    text-shadow: 1px 1px #303030;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #303030;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color:#303030;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#303030;
}

.featWork {
    margin: 120px 20px 50px 20px;
}

.row {
    justify-content: center;
}

.col-sm-4 img {
    margin-right: auto;
    margin-left:auto;
    display:block;
}

.column-sm-8 {
    text-align: center;
}

.column-sm-2 {
    text-align: center;
}

footer {
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.copyright {
    font-size: x-small;
    float:left;
}

.sociallist {
    float: right;
}

.socials{
    list-style-type: none;
    padding: 5px;
}

.socials img {
    height: 25px;
}