body {
    font-family:'Roboto', sans-serif;
    background-color: #FFFCF9; 
    margin: 0px;
}

nav {
    display: block;
    width: 100%;
    background-color: #FFFCF9;
    height:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color: #7F6A8F;
    font-weight: 600;
    font-size: 22px;
}

li a:visited {
    color: #7F6A8F;
    text-decoration: underline;
    font-size: 20px;
  }



footer {
    margin: 40px 24px 10px 24px;
    text-align:center;
    left: 50%;
}

.copyright {
    font-size: xx-small;
    font-family: 'Roboto', sans-serif;
}

.socials{
    list-style-type: none;
    padding: 5px;
}

.socials img {
    height: 30px;
}

.socials img:hover {
    height: 40px;
}