body {
    font-family:'Roboto', sans-serif;
    background-color: #FFFCF9; 
    margin: 0px;
}


nav {
    display: block;
    width: 100%;
    background-color: #FFFCF9;
    height:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    float: right;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
    font-weight:500;
}

li a {
    text-decoration: none;
    color:#303030;
}

li a:hover {
    color:#518683;
    transition:0.3s;
    text-decoration: none;
    font-size: 19px;
}

li a:visited {
    color:#355654;
    font-size: 20px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: #303030;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
    letter-spacing: 0.5px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #303030;
    line-height: 22px;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color:#303030;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#303030;
}

.container-fluid {
    width:80%;
}

.container-intro {
    padding-top:20px;
    background-image: url("../Images/Emily\ Logo\ Orange.png");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: #FFFCF9;
    height: 800px;
    width:100%;
}

.intro {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    top:25%;
}

.featWork {
    margin-top:60px;
    margin-bottom:60px;
    justify-content: center;
}

.col-sm-4 img {
    margin-right: auto;
    margin-left:auto;
    display:block;
    width:100%;
    margin-bottom:20px;
}

.column-sm-8 {
    text-align: center;
}

.row {
    margin-top:20px;
}

.viewCase {
    padding-top:20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: none;
    color:#303030;
    font-size:14px;
    font-weight: 500;
} 

.viewCase:hover {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: none;
    color:#518683;
    font-size:13.5px;
}

.viewCase:visited {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color:#355654;
    font-size:14px;
    text-decoration: none;
}

p {
    margin:0;
}

.scrollUp {
    margin-top:60px;
    text-align: center;
}

.fa-chevron-up {
    color: #518683;
    font-size: 32px;
    transition: 0.3s;
}

.fa-chevron-up:hover {
    color: #355654;
    font-size: 30px;
}

footer {
    margin: 20px 24px 10px 24px;
    text-align:center;
    left: 50%;
}

.fa-instagram-square, .fa-linkedin, .fa-envelope-square, .fa-phone-square-alt{
    color: #518683;
    font-size: 32px;
    transition: 0.3s;
    margin-right:10px;
}

.fa-instagram-square:hover, .fa-linkedin:hover,  .fa-envelope-square:hover, .fa-phone-square-alt:hover {
    color: #355654;
    font-size: 30px; 
}

.copyright {
    font-size: xx-small;
    font-family: 'Roboto', sans-serif;
}

.socials{
    list-style-type: none;
    padding: 5px;
}

.socials img {
    height: 30px;
}

.socials img:hover {
    height: 40px;
}


@media only screen and (max-width: 767px) {
    .col-sm-8 {
        margin-top:30px;
    }

    .col-sm-4 img{
        margin-top:20px;
        width:95%;
    }
}

@media only screen and (max-width: 445px) {
    nav {
       display:flex;
   }
       
   li {
       margin-left:-25px;
       padding-right:20px;
       float:right;
    }
}